.contactIcon{
    width: 24px;
    height: 24px;
}

.dark-mode .contactIcon {
  filter: invert(1) brightness(1.3);
  transition: filter 0.4s ease;
}

.projects{
    height: 100vh;
}
.ccItem {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  overflow: visible;
}

.ccItem img {
  overflow: visible;
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.ccItem:hover {
  color: #884e03; /* or your accent color */
}

.ccItem:hover img {
  transform: translateY(-3px) scale(1.1);
}


@media screen {
    .heroDiv1, .heroDiv2{
        width:50%;
    }
    .aboutHeader img{
        width: 100%;
    }
    
}

@media (max-width: 1400px) and (min-width: 400px) {

    .aboutHeader img{
        width: 100%;
    }
    .heroDiv1, .heroDiv2{
        width:80%;
    }
    .heroContainer {
        width: 100vw !important;
        flex-direction: column-reverse;
    }
    .heroContainer{
        justify-content: space-evenly;
    }
    h4{
        font-size: 20px;
    }
}

@media (max-width: 1400px) and (min-width: 400px) {
    .heroDiv2{
        align-items: end;
    }
}

@media (max-width: 1200px) and (min-width: 800px) {
img#maskImg {
    width: 50px;
}
h4{
        font-size: 18px;
    }

    .contactCardContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);

    }


}
@media (max-width: 800px) and (min-width: 400px) {
img#maskImg {
    width: 32px;
}
h4{
        font-size: 18px;
    }
    .contactCardContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);

    }

    .projDesc {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);

    }
}

@media (max-width: 400px) {
img#maskImg {
    width: 24px;
}
.aboutHeader img{
        width: 100%;
    }
    .heroDiv1, .heroDiv2{
        width:80%;
    }
    .heroContainer {
        width: 100vw !important;
        flex-direction: column-reverse;
    }
    .heroContainer{
        justify-content: space-evenly;
    }
    h4{
        font-size: 16px;
    }
    .contactCardContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);

    }
}



 