.bcSingle{
    font-family: 'Bitcount single';
    font-size: 28px;
    line-height: 0.4;
    margin: 0;
}

#maskImg{
	width:80px;
	height:auto;
}

#maskImg.dark-mode{
	filter:invert(100%);
}

.greydarc{
    background: linear-gradient(#00000000, #00000099), url('../assets/images/greydarc.png');
}
.greydarc:hover{
    background: linear-gradient(#00000000, #000000), url('../assets/images/greydarc.png');
    background-size: cover; 
}
.deonmega{
    background: linear-gradient(#00000000, #00000099), url('../assets/images/deonmega.png');
}
.deonmega:hover{
    background: linear-gradient(#00000000, #000000), url('../assets/images/deonmega.png');
    background-size: cover; 
}
.orassist{
    background: linear-gradient(#00000000, #00000099), url('../assets/images/orassist.PNG');
}
.greydarc:hover{
    background: linear-gradient(#00000000, #000000), url('../assets/images/orassist.PNG');
    background-size: cover; 
}
.biosynthesis{
    background: linear-gradient(#00000000, #000000), url('../assets/images/biosynthesis.png');
}
.biosynthesis:hover{
    background: linear-gradient(#00000000, #000000), url('../assets/images/biosynthesis.png');
    background-size: cover; 
}
.wpCard{
    
    background-size: cover;
    border: 7px solid var(--secondary-color);
    border-radius: 40px;
}

.wpTitle{
    color: var(--shiny-green);
}
.wpAfterCard {
    border:1px solid #fff;
    border-radius:36px;
    backdrop-filter: blur(5px);
    opacity: 0;
    transform: translateY(40px);
    pointer-events: none;
    transition: 
        opacity 0.45s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        transform 0.45s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.greydarc:hover{
    background: linear-gradient(#00000000, #000000), url('../assets/images/greydarc.png');
    background-size: cover; 
}
.wpCard:hover .wpAfterCard {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.wpbtn{
    padding:8px;
    border-radius: 20px;
    background: var(--shiny-green);
    border:none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.wpbtn:hover{
    scale: 1.05;
}

.wpbtn a{
    color: var(--primary-color);
    text-decoration: none;
}

img.techIcon {
    width:24px;
}

.wpContentGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 32px;
    flex-wrap: wrap;
    color: #fafafa;
}

.webProjects .wpCard {
    transform: translateY(-30px);
    opacity: 0;
    transition: transform 600ms cubic-bezier(.22,.9,.28,1), opacity 600ms ease;
    will-change: transform, opacity;
}

.webProjects .wpCard.in {
    transform: translateY(0);
    opacity: 1;
}



@media screen {
    .heroDiv1, .heroDiv2{
        width:50%;
    }
    .aboutHeader img{
        width: 100%;
    }
    
}

@media (max-width: 1400px) and (min-width: 400px) {

    .aboutHeader img{
        width: 100%;
    }
    .heroDiv1, .heroDiv2{
        width:80%;
    }
    .heroContainer {
        width: 100vw !important;
        flex-direction: column-reverse;
    }
    .heroContainer{
        justify-content: space-evenly;
    }
}

@media (max-width: 1400px) and (min-width: 400px) {
    .heroDiv2{
        align-items: end;
    }
}

@media (max-width: 1200px) and (min-width: 800px) {
    img#maskImg {
        width: 50px;
    }

    .wpContentGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }
}
@media (max-width: 800px) and (min-width: 400px) {
    img#maskImg {
        width: 32px;
    }
    .wpContentGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }
}

@media (max-width: 400px) {
    img#maskImg {
        width: 24px;
    }
    .aboutHeader img{
        width: 100%;
    }
    .heroDiv1, .heroDiv2{
        width:80%;
    }
    .heroContainer {
        width: 100vw !important;
        flex-direction: column-reverse;
    }
    .heroContainer{
        justify-content: space-evenly;
    }
    .wpContentGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }
}